.plumber-tasks {
  background-color: #fff;
  padding: 20px 40px;
  font-family: 'Roboto-Regular';
  border-bottom: 1px solid #f1f1f1;
  
  &__heading {
    color: #909090;
    text-transform: uppercase;
    padding: 5px 0;
    font-size: 15px;
  }
  
  &__wrap {
    display: flex;
    flex-wrap: wrap;
  }
  
  &__function {
    box-sizing: border-box;
    flex: 1 0 auto;
    font-size: 14px;
    margin-bottom: 5px;
    margin-right: 3px;
  }
  
  &__text {
    font-family: 'Sarabun-Regular';
    font-size: 18px;
    line-height: 1.4em;
    padding: 10px 0;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 2em;
  
    &:hover {
      cursor: pointer;
      border: 1px solid #4c71fe;
    }
  }
  
  &__radio {
    display: none;
    
    &:checked + .plumber-tasks__text {
      border: 1px solid #4c71fe;
    }
  }
}
