.button {
  border: none;
  background-color: #fff;
  text-transform: uppercase;
  color: #4c71fe;
  padding: 0.6em 1.2em;
  border-radius: 5px;
  outline: none;
  
  &:hover {
    cursor: pointer;
  }
  
  &:active {
    box-shadow: 0 0 5px 2px rgba(0,0,0, .2) inset;
  }

  &--primary {
    background-color: #4c71fe;
    color: #fff;
  }
}