.service-type {
  background-color: #fff;
  padding: 20px 40px;
  font-family: 'Roboto-Regular';
  border-bottom: 1px solid #f1f1f1;
  
  &__heading {
    color: #909090;
    text-transform: uppercase;
    padding: 5px 0;
    font-size: 15px;
  }
  
  &__icons-wrap {
    display: flex;
  }
  
  &__icon {
    padding: 10px 5px;
    width: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  
    &:hover {
      cursor: pointer;
      
      &> .service-type__image-wrap {
        border: 1px solid #4c71fe;
      }
    }
  }
  
  &__image-wrap {
    box-sizing: border-box;
    flex-grow: 1;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid transparent;
    border-radius: 50%;
  }
  
  &__description {
    font-family: 'Roboto-Regular';
    font-size: 15px;
    padding-top: 10px;
  }
  
  &__radio {
    display: none;
  
    &:checked + .service-type__image-wrap {
      border: 1px solid #4c71fe;
    }
  }
}
