@import "../../assets/styles/variables";

.dashboard {
  flex-grow: 1;
  background-image: url("../../assets/images/map1920.png");
  background-position: center;
  
  &__container {
    @extend .container;
    min-height: 1200px;
    display: flex;
    justify-content: space-between;
  }
  
  &__tasks {
    max-width: 335px;
    padding: 15px 30px;
    width: 100%;
    height: 100%;
  }
  
  &__form {
    max-width: 500px;
    width: 100%;
    position: relative;
  }
}