@import "../../assets/styles/variables";

.header {
  width: 100%;
  height: 80px;
  background-color: white;
  
  &__container {
    @extend .container;
    display: flex;
  }
  
  &__logo-wrap {
    box-sizing: border-box;
    width: 200px;
    padding: 22px 45px;
  }
  
  &__logo {
    font-family: 'Sarabun-Bold';
    color: #fa4c6f;
    font-size: 26px;
  }
  
  &__nav-wrap {
    width: 100%;
    height: 80px;
  }
  
  &__profile-wrap {
    width: 150px;
  }
}