.add-table {
  width: 0;
  height: 100%;
  background-color: #fff;
  position: absolute;
  right: 0;
  transition: .2s;

  & > * {
    visibility: hidden;
  }
  
  &--active {
    width: 100%;
    transition: .2s;

    & > * {
      visibility: visible;
      transition: .2s .1s;
    }
  }
}
